@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local('Inter-Bold'),
    url('assets/fonts/inter/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local('Inter'),
    local('Inter-Regular'),
    url('assets/fonts/inter/Inter-Regular.ttf') format('truetype');
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --body-color: hsl(160, 1%, 44%);
  text-rendering: optimizelegibility;
}

::selection {
  background-color: hsla(36, 42%, 55%, 0.5);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

ul,
dl,
dd {
  margin: 0;
}

dt,
dd {
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}

.widget {
  align-items: center;
  color: var(--body-color);
  display: flex;
  font: 1rem / 1.2 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  gap: 1.25rem;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
}

.widget_slide {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.widget_slide::-webkit-scrollbar {
    display: none;
}

.widget_slide > div:nth-child(2) {
  display: grid;
  grid-auto-flow: column;
}

.widget_wrapper {
  align-items: center;
  display: flex;
  max-width: 100%;
}

.widget_title {
  color: var(--white);
  font-size: 1.125rem;
  margin: 0;
  text-align: center;
  text-shadow: 0 3px 4px hsla(0, 0%, 0%, 0.15);
}

.widget_title span {
  font-size: 0.8125rem;
}

.widget_item {
  align-items: center;
  background: var(--white);
  background:
    linear-gradient(180deg,
      hsla(0, 0%, 0%, 0.12) 0%,
      hsla(0, 0%, 0%, 0) 87%
    ), var(--white);
  border: 1.2px solid hsl(0, 0%, 96%);
  border-radius: 0.45rem;
  display: flex;
  font-size: 0.75rem;
  justify-content: center;
  padding: 0.25rem 1.125rem 0.25rem 0.875rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.widget_item img,
.widget_item svg {
  flex-shrink: 0;
  margin-right: 0.35rem;
}

.widget_slide > div:first-child .widget_item a {
  align-items: center;
  display: flex;
}

.widget_slide > div:first-child .widget_item > a + div {
  height: 100%;
  margin-left: 1rem;
  padding-left: 1rem;
  position: relative;
}

.widget_slide > div:first-child .widget_item > a + div::before {
  background-color: currentColor;
  content: '';
  height: 65%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.widget_control {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.45rem;
  display: grid;
  flex-shrink: 0;
  height: 2rem;
  padding: 0;
  place-content: center;
  transition:
    box-shadow 0.15s ease-in-out,
    opacity 0.05s;
  width: 2rem;
}

.widget_control:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem hsla(36, 42%, 55%, 0.5);
}

.widget_control:active:focus {
  box-shadow:
    inset 0 3px 5px rgba(0, 0, 0, 0.125),
    0 0 0 .2rem hsla(36, 42%, 55%, 0.5);
}

.widget_control.next svg {
  transform: rotate(0.5turn);
}

.widget_control.inactive {
  opacity: 0.5;
}

@media (min-width: 998px) {

  .widget_item {
    padding: 0.25rem 2.25rem 0.25rem 0.875rem;
  }

  .widget_title {
    text-align: end;
  }

  .widget_title span {
    display: block;
  }
}

@media (max-width: 997.98px) {

  .widget {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {

  .widget_slide > div:first-child .widget_item {
    font-size: 0.8125rem;
  }
}

@media (max-width: 767.98px) {

  .widget_title {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 2vw, 1.125rem);
  }

  .widget_title span {
    font-size: 0.5625rem;
    font-size: clamp(0.5625rem, 1.5vw, 0.8125rem);
  }

  .widget_item {
    font-size: 0.625rem;
    font-size: clamp(0.625rem, 1.5vw, 0.75rem);
  }
}

@media (min-width: 576px) {

  .widget_slide {
    gap: 0.8125rem;
  }

  .widget_slide > div:last-child {
    gap: 0.5625rem;
  }

  .widget_control {
    display: none;
  }
}

@media (max-width: 575.98px) {

  .widget {
    padding: 0;
  }

  .widget_slide {
    gap: 0.5rem;
    grid-template-columns: 100% repeat(2, calc(50% - 0.25rem));
    max-width: 100%;
    overflow: auto;
  }

  .widget_slide > div {
    flex-shrink: 0;
    width: 100%;
  }

  .widget_slide > div:last-child {
    gap: 0.5rem;
  }

  .widget_slide > div:first-child .widget_item > a + div {
    margin-left: 0.625rem;
    padding-left: 0.625rem;
  }

  .widget_item {
    padding: 0.25rem 0.75rem 0.25rem 0.625rem;
  }

  .widget_item img,
  .widget_item svg {
    height: 0.8125rem;
    object-fit: contain;
    width: 1rem;
  }
}

/* Utilities */

.d-block {
  display: block;
}
